<!DOCTYPE html>
<html lang = "en">  <!-- document's language -->
    <head>
        <title>PC Visualiser error</title>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> 
        <script src="https://www.w3schools.com/lib/w3.js"></script>
    </head>
    <!-- start building the page's content -->
    <body style="background-color: rgb(228, 228, 228);"> 
        <div class="w3-container w3-display-middle">
            <h3 style="color:red;"><b>ERROR!</b></h3>
            <h4><b>Select all parameters!</b></h4>
            <p>Click on the button to return to the selectable panel</p><br>
            <a href=back_to_main >
                <button class="w3-button w3-round-xlarge" style="height:60px;width:80px;background-color:dodgerblue;">
                    <b>BACK</b>
                </button>
            </a>
        </div>
    </body>
</html>